body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

img{
    width: 400px;
    height: auto;
}

.grass, .sky, .road {
    position: relative;
}

.sky{
    height: 40vh;
    background: skyblue;
}

.cloud-1 {
    position: absolute;
    animation: cloud 10s ease-in infinite;
}

.cloud-2 {
    position: absolute;
    top: 50px;
    animation: cloud 10s 3s ease-in infinite reverse;

}

.grass {
    /* height: 300px; */
    height: 30vh;
    background: seagreen;
}

.lagos {
    position: absolute;
    width: 100%;
    top: -35vh;
    /* top: -300px; */
}

.road {
    height: 30vh;
    background: rgb(36, 29, 29);
    border-top: 10px solid rgb(39, 34, 34);
    border-bottom: 10px solid rgb(39, 34, 34);
    width: 100%;
}

.lines {
    border: 5px solid rgb(255, 196, 0);
    height: 0px;
    width: 100%;
    position: absolute;
    top: 45%;
}

.lines:nth-child(2) {
    margin-top: 1rem;
}

.bus {
    position: absolute;
    top: -80px;
    left: 0;
    animation: drive 5s ease-out forwards infinite reverse;
}

.bike {
    position: absolute;
    top: -50px;
    left: 0;
    animation: drive 3s ease-out forwards infinite reverse;

}

/* Keyframes */
@keyframes drive {
    0%{
        transform: translateX(-450px);
    }
    100%{
        transform: translateX(2000px);

    }
}

@keyframes cloud {
    0% {
        transform: translateX(-450px);
    }
    100%{
        transform: translateX(1800px);
    }
}