body{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

img{
    width: 400px;
    height: auto;
}

.grass, .sky, .road {
    position: relative;
}

.sky{
    height: 40vh;
    background: skyblue;
    position: relative;
}

.cloud {
    animation: cloud 20s ease-out forwards infinite reverse;
}

.grass {
    height: 30vh;
    background: seagreen;
}

.road {
    height: 30vh;
    background: rgb(36, 29, 29);
    border-top: 10px solid rgb(39, 34, 34);
    border-bottom: 10px solid rgb(39, 34, 34);
    width: 100%;
}

.lines {
    border: 5px solid rgb(255, 196, 0);
    height: 0px;
    width: 100%;
    position: absolute;
    top: 45%;
}

.lines:nth-child(2) {
    margin-top: 1rem;
}

.bus {
    position: absolute;
    top: -80px;
    left: 0;
    animation: drive 5s ease-out forwards infinite reverse;
}

.car {
    position: absolute;
    top: -50px;
    left: 0;
    animation: drive 2s ease-out forwards infinite reverse;

}

/* Keyframes */
@keyframes drive {
    0%{
        transform: translateX(-450px);
    }
    100%{
        transform: translateX(2000px);

    }
}

@keyframes cloud {
    0% {
        transform: translateX(100px);
    }
    50% {
        transform: translateY(50px);
    }
    100%{
        transform: translateX(500px);
    }
}